<div>
    <ul class="list-group">
        <li class="list-group-item">Users: @Html.ActionLink("api/User", null, "api/User", new { area = "" }, null)</li>
        <li class="list-group-item">Projects: @Html.ActionLink("api/Project", null, "api/Project", new { area = "" }, null)</li>
        <li class="list-group-item">Payments: @Html.ActionLink("api/Payments", null, "api/Payments", new { area = "" }, null)</li>
    </ul>
</div>

<div class="wrapper" myApp>
    Loading...
</div>
